@import url('https://giscus.app/themes/dark.css');

main {
  --color-btn-primary-bg: #d6396f;
  --color-btn-primary-hover-bg: #cd2f67;
  --color-btn-primary-selected-bg: #c52561;
  --color-btn-primary-disabled-bg: rgb(214 57 111 / 60%);
  --color-accent-fg: #ff6090;
  --color-accent-emphasis: #e94c7e;
  --color-accent-muted: rgb(255 96 144 / 40%);
  --color-accent-subtle: rgb(255 96 144 / 16%);
  --color-scale-blue-8: rgb(255 96 144 / 20%);
}
